name: Deploy Staging (Self-hosted)

on:
  push:
    branches: ["staging"]

jobs:
  deploy-staging:
    runs-on: self-hosted
    environment: staging

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and Restart Docker (Staging)
        env:
          COMPOSE_PROJECT_NAME: staging
          BACKEND_PORT: ${{ secrets.BACKEND_PORT }} # ví dụ 3001
          NGINX_PORT: ${{ secrets.NGINX_PORT }}     # ví dụ 8081
          PORT: ${{ secrets.PORT }}
          MONGO_URI: ${{ secrets.MONGO_URI }}
          CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
          CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          CLOUDFLARE_TUNNEL_TOKEN_STAGING: ${{ secrets.CLOUDFLARE_TUNNEL_TOKEN_STAGING }}
        run: |
          $project = $env:COMPOSE_PROJECT_NAME
          Write-Host "Project=$project"

          if (-not $project) {
            Write-Host "COMPOSE_PROJECT_NAME is empty"
            exit 1
          }

          docker compose -p "$project" down
          docker compose -p "$project" -f docker-compose.yml -f docker-compose.staging.yml up -d --build
          docker compose -p "$project" up -d
