name: Deploy Staging (Self-hosted)

on:
  push:
    branches: ["staging"]

jobs:
  deploy:
    runs-on: self-hosted

    # Có thể dùng GitHub Environment để tách secret staging
    environment: staging

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and Restart Docker (Staging)
        run: |
          docker compose down
          docker compose build
          docker compose up -d
        env:
          PORT: ${{ secrets.PORT }}
          MONGO_URI: ${{ secrets.MONGO_URI }}
          CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
          CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
