name: Deploy Production (Self-hosted)

on:
  push:
    branches: ["main"]

jobs:
  deploy-production:
    runs-on: self-hosted
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and Restart Docker (Production)
        env:
          COMPOSE_PROJECT_NAME: production

          # Ports
          BACKEND_PORT: ${{ secrets.BACKEND_PORT }} # ví dụ 3000
          NGINX_PORT: ${{ secrets.NGINX_PORT }}     # ví dụ 80

          # .env keys
          PORT: ${{ secrets.PORT }}
          MONGO_URI: ${{ secrets.MONGO_URI }}

          CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
          CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}

          JWT_SECRET: ${{ secrets.JWT_SECRET }}

          MAIL_USER: ${{ secrets.MAIL_USER }}
          MAIL_PASS: ${{ secrets.MAIL_PASS }}
          MAIL_FROM_NAME: ${{ secrets.MAIL_FROM_NAME }}
          MAIL_FROM_EMAIL: ${{ secrets.MAIL_FROM_EMAIL }}

          CLOUDFLARE_TUNNEL_TOKEN_PROD: ${{ secrets.CLOUDFLARE_TUNNEL_TOKEN_PROD }}

          MOMO_PARTNER_CODE: ${{ secrets.MOMO_PARTNER_CODE }}
          MOMO_ACCESS_KEY: ${{ secrets.MOMO_ACCESS_KEY }}
          MOMO_SECRET_KEY: ${{ secrets.MOMO_SECRET_KEY }}
          MOMO_CREATE_ENDPOINT: ${{ secrets.MOMO_CREATE_ENDPOINT }}
          MOMO_REDIRECT_URL: ${{ secrets.MOMO_REDIRECT_URL }}
          MOMO_IPN_URL: ${{ secrets.MOMO_IPN_URL }}

          ZP_APP_ID: ${{ secrets.ZP_APP_ID }}
          ZP_KEY1: ${{ secrets.ZP_KEY1 }}
          ZP_KEY2: ${{ secrets.ZP_KEY2 }}
          ZP_API_BASE: ${{ secrets.ZP_API_BASE }}
          ZP_REDIRECT_URL: ${{ secrets.ZP_REDIRECT_URL }}
          ZP_CALLBACK_URL: ${{ secrets.ZP_CALLBACK_URL }}

          STRIPE_SECRET: ${{ secrets.STRIPE_SECRET }}
          STRIPE_PRICE_ID: ${{ secrets.STRIPE_PRICE_ID }}
          STRIPE_WEBHOOK_SECRET: ${{ secrets.STRIPE_WEBHOOK_SECRET }}

          BASE_URL: ${{ secrets.BASE_URL }}
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}

        run: |
          $project = $env:COMPOSE_PROJECT_NAME
          Write-Host "Project=$project"

          if (-not $project) {
            Write-Host "COMPOSE_PROJECT_NAME is empty"
            exit 1
          }

          docker compose -p "$project" -f docker-compose.yml -f docker-compose.prod.yml down
          docker compose -p "$project" -f docker-compose.yml -f docker-compose.prod.yml up -d --build

