name: Deploy Production (Self-hosted)

on:
  push:
    branches: ["main"]

jobs:
  deploy-production:
    runs-on: self-hosted
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and Restart Docker (Production)
        env:
          COMPOSE_PROJECT_NAME: production
          BACKEND_PORT: ${{ secrets.BACKEND_PORT }} # ví dụ 3000
          NGINX_PORT: ${{ secrets.NGINX_PORT }}     # ví dụ 80
          PORT: ${{ secrets.PORT }}
          MONGO_URI: ${{ secrets.MONGO_URI }}
          CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
          CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          CLOUDFLARE_TUNNEL_TOKEN: ${{ secrets.CLOUDFLARE_TUNNEL_TOKEN }}
        run: |
          echo "Project=$COMPOSE_PROJECT_NAME"
          docker compose -p $COMPOSE_PROJECT_NAME down
          docker compose -p $COMPOSE_PROJECT_NAME build
          docker compose -p $COMPOSE_PROJECT_NAME up -d
